
body {
   background-color: #87CEEB;
   border: 2px solid black;
   padding: 10px;       
}

p {
  font-family: Arial, sans-serif;  
  font-size: 17px;                  
  line-height: 1.6;                 
  color: #000000;                    
  text-align: justify;            
  margin-bottom: 20px;   
}
img {
  width: 600px;
  height: 800px;
}

.top-half {
  text-align: center;
}
.horizantal-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  padding: 0;
  
}
.image {
  margin: 15px;
  justify-content: center;
  width: 15%;
  height: 15%;
}

.links{
  display: flex;
}

.layout{
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.layout img{
  width: 25%;
  height: auto;
}
.section{
  flex: 1;
}